body{
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    line-height: 25px;
    background: url(img/background.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
    background-attachment: fixed;

}
h1{
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 200%;
    border-bottom: 1px solid #000;
  }
  h2{
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 200%;
  }
  q{
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    text-align: right;
    font-size: 10px;
  }
  p{
  
    white-space: pre-line;
    font-size: 60%;
  }
  p::first-letter{
    font-size: 200%;
    font-weight: bolder;
    
  }
  .lien-auteur{
    font-size: 120%;
  }
  blockquote{
  margin: 20px 20px 20px 20px;
  border-left : 3px solid #000;
  padding-left : 20px;
  font-size : 120%;
  background-color: #D7D7D7;
  
  }
  a{
    color: inherit;
    font-weight: normal;
  }
  a:hover{
    color: #698196;
    text-decoration:underline;
    font-weight: bolder;
  }
  a:visited{
    color: inherit;
    font-weight: normal;
    text-decoration: none;
  }
video{
    display: block;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 2px solid #fff;
    grid-column-start: 1;
    grid-column-end: 1;

}
.scrollUp
{
position: fixed;
bottom : 10px;
right: 10px;
}
.scrollUp:hover {
	transform:rotate(-30deg);
	-ms-transform:rotate(-30deg);
  -webkit-transform:rotate(-30deg);
}

/*-----------Menu haut navigation------------*/
nav{

    height: 70px;
    padding: 20px 50px 20px 50px;
    background: rgb(54,104,113);
    background: radial-gradient(circle, rgba(54,104,113,0.7959558823529411) 0%, rgba(0,198,250,0.8211659663865546) 100%);
    text-align: center;
    vertical-align: center;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 2px solid #fff;


}
.main-nav {
    display: -webkit-flex;
    display: flex;
    list-style-type:none;
    text-align: center;
    font-weight: bolder;
    height: 50px;
   
  }
  .main-nav a {
    margin: 10px;
    color: black;
      display: inline-block;
    text-align: center;
    text-decoration:none;
    font-style: bolder;
    
  }
  .main-nav li:last-child {

    margin-left: auto;
    text-decoration:none;
    padding-right: 50px;
    display: inline-block;
    text-align: center;
  
  
  }
  .search{

    display: inline-block;
    text-align: center;
    text-decoration:none;
    font-style: bolder;
  }
  .separator{
    border-right: 2px solid #000;

  }

/*---------------En-tête-------------------*/
header{
    display: block;
    height: 300px;
    background-image: url(img/slide/01.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    padding-top: 150px;
    padding-right: 50px;
    padding-left: 50px;
    margin-bottom: 50px;
    margin-left: 5%;
    margin-right: 5%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 2px solid #fff;
    text-align: right;
    font-size: 10px;


}
.citation {

  text-align: right;
  font-size: 20px;
  text-decoration: none;
}
.logo{

  position: absolute;
  top : 450px;
  left: 100px;

}
.page{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,0.7959558823529411) 0%, rgba(255,255,255,0.6811099439775911) 100%);
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 100px;
    padding: 5%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 2px solid #fff;


}
.information{

    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,0.7959558823529411) 0%, rgba(255,255,255,0.6811099439775911) 100%);
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 100px;
    padding: 5%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 2px solid #fff;
    display: grid;
    grid-gap: 80px;
    grid-template-columns: 100px, auto;
    justify-content: center;

}
.info-left{
  grid-column-start: 2;
  grid-column-end: 3;

}
.contact{

  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,0.7959558823529411) 0%, rgba(255,255,255,0.6811099439775911) 100%);
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 100px;
  padding: 5%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 2px solid #fff;
  display: grid;
  grid-gap: 80px;
  grid-template-columns: 150px, 50px;
  justify-content: center;


}
.text-contact{
  grid-column-start: 1;
  grid-column-end: 1;
  text-decoration:none;
  list-style-type: none;

}
.text-contact ul {

  list-style-type: none;
}
.adresse{
  grid-column-start: 2;
  grid-column-end: 2;

  text-align:right;



}
.map{
  grid-column-start: 3;
  grid-column-end: 3;

}


.association{
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,0.7959558823529411) 0%, rgba(255,255,255,0.6811099439775911) 100%);
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 100px;
  padding: 5%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 2px solid #fff;
  text-right: center;


}

.bordure{

    height: 100px;
    background: rgb(255,0,236);
    background: radial-gradient(circle, rgba(255,0,236,0.5802696078431373) 0%, rgba(168,81,168,0.9332107843137255) 100%);
}
footer{
    display: block;
    position: inherit;
    bottom: 0;
    Height: 75px;

    padding-top : 5%;
    background: rgb(54,104,113);
    background: radial-gradient(circle, rgba(54,104,113,0.7959558823529411) 0%, rgba(0,198,250,0.8211659663865546) 100%);
    color: white;
    text-align: center;
    font-weight: bolder;
    margin-left: 5%;
    margin-right: 5%;
    bottom: 0px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 2px solid #fff;
  }